<header>
  <nav>
    <h1>DOS Clothing</h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">The Lovers Edit</a></li>
      <li><a href="#">Best Sellers</a></li>
      <li><a href="#">Mesh Edit</a></li>
      <li><a href="#">Zuki Collections</a></li>
      <li><a href="#">Co-ord Sets</a></li>
      <li><a href="#">Dresses</a></li>
      <li><a href="#">Kimonos</a></li>
      <li><a href="#">Kaftans</a></li>
    </ul>
  </nav>
</header>
